
<ion-content>
  <div class="header">
    <h3>Welcome</h3>
    <h1>Please Signup,<br>To continue</h1>
  </div>
  <div class="form">
    <form action="">
      <ion-input type="email" placeholder="Email" value="user123@gmail.com"></ion-input>
      <ion-input type="password" placeholder="XXXXX" ></ion-input>
    </form>
  </div>
  <div class="button">
    Signup<ion-icon name="arrow-forward-outline"></ion-icon>
  </div>
  <div class="footer">
    <h3 routerLink="/login">Don't have an account? <span>Sign Up</span></h3>
  </div>
</ion-content>
